@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  /* --- Hecho Letras --- */
  --color-hl-primary: var(--hl-primary);
  --color-hl-secondary: var(--hl-secondary);
  --color-hl-accent: var(--hl-accent);

  /* --- KamCat --- */
  --color-kc-primary: var(--kc-primary);
  --color-kc-secondary: var(--kc-secondary);
  --color-kc-accent: var(--kc-accent);

  /* --- Semantic --- */
  --color-success: var(--success);
  --color-warning: var(--warning);
  --color-danger: var(--danger);
  --color-info: var(--info);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
